<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="popcorn.js"></script>
        <script src="videoController.js"></script>
        <script src="primus.js"></script>
    </head>
    <body>
        <video id="video" src="{{url}}"></video>
    </body>
</html>